[misc]
no_self_update = true
disable = [
    "vim",
{{ if eq .chezmoi.os "darwin" -}}
    "mas",
    "system",
{{ end -}}
]
assume_yes = true

{{ if eq .chezmoi.os "darwin" }}
[brew]
greedy_cask = true
autoremove = true
{{ end -}}

# vim: ft=toml