-- vi: ft=lua

local wezterm = require('wezterm')
local rose_pine = wezterm.plugin.require("https://github.com/raindev/rose-pine-wezterm")

local function theme_for_appearance(appearance)
  if appearance:find 'Dark' then
    return rose_pine.main
  else
    return rose_pine.dawn
  end
end

local theme = theme_for_appearance(wezterm.gui.get_appearance())

return {
  -- use full binary path as macOS doesn't source ~/.profile on login
  default_prog = { '{{ lookPath "tmux" }}', 'new', '-A' },
  {{- if eq .chezmoi.hostname "black" }}
  font_size = 14,
  {{- else }}
  font_size = 16,
  {{- end }}
  font = wezterm.font('Source Code Pro'),
  use_fancy_tab_bar = false,
  window_decorations = "RESIZE",
  window_frame = theme.window_frame(),
  colors = theme.colors(),
  keys = {
    {
      key = 'F11',
      action = wezterm.action.ToggleFullScreen
    }
  },
  check_for_updates = false,
  -- the system log from systemd-core-dump includes \u{1f855} prefix
  warn_about_missing_glyphs = false,
  audible_bell = "Disabled",
  -- make both Option keys behave as Meta on macOS
  send_composed_key_when_left_alt_is_pressed = false,
  send_composed_key_when_right_alt_is_pressed = false
}
