# vi: ft=tmux

set-option -g escape-time 0
set-option -g prefix C-Space
bind-key -T prefix \; command-prompt
set-option -g history-limit 100000
# Number windows and panes starting from 1
set-option -g base-index 1
set-window-option -g pane-base-index 1

# Open splits in the same directory
bind - split-window -v -c '#{pane_current_path}'
bind \\ split-window -h -c '#{pane_current_path}'
# Ctrl-L/Ctrl-\ (SIGQUIT) is overwritten by vim-tmux-navigator
bind C-l send-keys 'C-l'
bind C-\\ send-keys 'C-\'
# Enable Neovim focus events
set-option -g focus-events on
set-option -g mouse on
# Enable true color support
set-option -sa terminal-overrides ',xterm-256color:RGB'
set-option -g default-terminal 'tmux-256color'

set-window-option -g mode-keys vi
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi C-v send-keys -X rectangle-toggle
bind-key -T copy-mode-vi y send-keys -X copy-selection-and-cancel
bind-key -T copy-mode-vi Y send-keys -X copy-end-of-line-and-cancel
bind-key -T copy-mode-vi C-y send-keys -X copy-line-and-cancel
set-option -g set-clipboard on
{{ if eq .chezmoi.os "linux" }}
bind -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel wl-copy
bind-key -T prefix * run "wl-paste --primary | tmux load-buffer - ; tmux paste-buffer"
bind-key -T prefix + run "wl-paste | tmux load-buffer - ; tmux paste-buffer"
{{ else if eq .chezmoi.os "darwin" }}
bind-key -T prefix * run 'pbpaste | tmux load-buffer - ; tmux paste-buffer'
bind-key -T prefix + run 'pbpaste | tmux load-buffer - ; tmux paste-buffer'
{{ end }}

set-option -g @plugin 'tmux-plugins/tpm'
set-option -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-open'
{{ if eq .chezmoi.os "darwin" }}
# Homebrew is only added to PATH in .profile which is loaded by shell later
set-environment -g PATH "/opt/homebrew/bin:$PATH"
{{ end }}

run '~/.tmux/plugins/tpm/tpm'
