{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

sudo apt update --yes
sudo apt install --yes \
	build-essential \
	curl \
	findutils \
	g++ \
	git \
	rename \
	ripgrep \
	shellcheck \
	sqlite3 \
	tmux
{{ end }}
