{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

sudo apt update --yes
sudo apt install --yes \
	bash-completion \
	build-essential \
	curl \
	fd-find \
	findutils \
	g++ \
	git \
	git-lfs \
	go-staticcheck \
	golang \
	hugo \
	litecli \
	npm \
	rename \
	ripgrep \
	shellcheck \
	sqlite3 \
	tmux \
	tree-sitter-cli

sudo snap install --classic nvim

if ! command -v pacstall; then
	sudo bash -c "$(curl -fsSL https://pacstall.dev/q/install)"
fi
pacstall --disable-prompts --install \
	exercism-cli-bin \
	github-cli-deb \
	topgrade-bin \
	watchexec-bin

{{ end }}
