{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -euo pipefail

if ! command -v brew > /dev/null; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF

brew 'bash'
brew 'bash-completion'
brew 'coreutils'
brew 'exa'
brew 'exercism'
brew 'fd'
brew 'gh'
brew 'git'
brew 'git-gui'
brew 'git-lfs'
brew 'gnu-sed'
brew 'gnupg'
brew 'go'
brew 'golangci-lint'
brew 'hugo'
brew 'litecli'
brew 'mas'
brew 'neovim'
brew 'node'
brew 'npm'
brew 'openjdk'
brew 'pass'
brew 'pass-otp'
brew 'pinentry-mac'
brew 'ripgrep'
brew 'shellcheck'
brew 'staticcheck'
brew 'tmux'
brew 'topgrade'
brew 'tpm'
brew 'tree'
brew 'tree-sitter'
brew 'watchexec'

cask 'firefox'
cask 'font-source-code-pro'
cask 'meld'
cask 'mullvadvpn'
cask 'obs'
cask 'obsidian'
cask 'rectangle'
cask 'signal'
cask 'spotify'
cask 'syncthing'
cask 'telegram'
cask 'vlc'
cask 'wezterm'

mas "Omnivore", id: 1564031042
mas "Xcode", id: 497799835

EOF

# at this point Homebrew bash is expected to be the first in PATH
homebrew_bash={{ lookPath "bash" }}
if ! grep --quiet $homebrew_bash /etc/shells; then
	echo "$homebrew_bash" | sudo tee -a /etc/shells
	chsh -s "$homebrew_bash"
fi

{{ end }}
