{{ if eq .chezmoi.hostname "xps13" "black" "mini-mac" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

if [ ! -e "$HOME/.password-store" ]; then
	echo '>setting up pass'
	git clone netcup.raindev.io:/home/andrew/.password-store "$HOME/.password-store"
	pass git init
fi
{{ end }}
