{{ if eq .chezmoi.hostname "xps13" "black" "charcoal" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

sudo apt install \
	build-essential \
	fd-find \
	curl \
	exa \
	findutils \
	flatpak \
	g++ \
	git \
	gnome-shell-extensions \
	gnome-shell-pomodoro \
	gnome-sushi \
	gnome-tweaks \
	gnome-weather \
	imagemagick \
	libcurl4-openssl-dev \
	libgit2-dev \
	libssh-dev \
	libssl-dev \
	litecli \
	meld \
	neovim-qt \
	npm \
	pass \
	pass-extension-otp \
	pkg-config \
	powertop \
	rename \
	ripgrep \
	scdaemon \
	shellcheck \
	sqlite3 \
	syncthing \
	tmux \
	wl-clipboard \
	youtube-dl

flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install \
	com.logseq.Logseq \
	com.spotify.Client \
	md.obsidian.Obsidian \
	org.signal.Signal \
	org.telegram.desktop \
	org.wezfurlong.wezterm

brew install \
	bash-completion \
	exercism \
	watchexec \
	topgrade

{{ end }}
