{{ if eq .chezmoi.hostname "xps13" "black" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

sudo dnf install -y \
	ImageMagick \
	gnome-extensions-app \
	gnome-tweaks \
	meld \
	pass \
	pass-otp \
	powertop \
	syncthing \
	yt-dlp

flatpak install --assumeyes \
	com.spotify.Client \
	md.obsidian.Obsidian \
	org.signal.Signal \
	org.telegram.desktop \
	org.zotero.Zotero
{{ end }}
