{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

sudo dnf install -y \
	fd-find \
	fzf \
	gh \
	git-lfs \
	gnome-tweaks \
	hugo \
	neovim \
	pass \
	pass-otp \
	ripgrep \
	shellcheck

{{ end }}
