set --global --export --prepend PATH $HOME/bin $HOME/.local/bin{{ if eq .chezmoi.os "darwin" }} /opt/homebrew/bin{{ end }}
set --global --export EDITOR nvim

# Use blinking block cursor for prompt
function on_fish_prompt --on-event fish_prompt
  echo -ne '\e[1 q'
end

source $__fish_config_dir/config.local.fish 2>/dev/null