[edit]
    apply = true
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]
[hooks.update.post]
    command = "bash"
    args = [ "-c", "! command -v pass &>/dev/null || (pass git pull --rebase --quiet && pass git push --quiet)" ]
[data]
    gpg.enabled = {{ eq .chezmoi.hostname "xps13" "black" "mini-mac" }}
    work.laptop = {{ eq .chezmoi.hostname "ZALANDO-82607" }}
