theme = light:Everforest Light - Hard, dark:Everforest Dark - Hard
font-family = JetBrains Mono
font-feature = -calt, -liga, -dlig
font-size = 16
initial-command = {{ lookPath "tmux" }} new -A
confirm-close-surface = false
shell-integration = fish
cursor-style = block
cursor-style-blink = true
# prevent shell integration from overriding prompt cursor to bar
# https://ghostty.org/docs/config/reference#cursor-style
shell-integration-features = no-cursor
keybind = global:cmd+\=toggle_quick_terminal
keybind = f11=toggle_fullscreen
