{{- if eq .chezmoi.hostname "black" }}
GuiFont Source Code Pro:h16
{{- else }}
GuiFont Source Code Pro:h18
{{- end }}
" Normal, Visual, Select, Operator-pending
noremap <silent><F11> :call GuiWindowFullScreen(!g:GuiWindowFullScreen)<CR>
" Insert and Command-line
noremap! <silent><F11> :call GuiWindowFullScreen(!g:GuiWindowFullScreen)<CR>
