-------------
-- plugins --
-------------

-- bootstrap lazy.nvim
local lazypath = vim.fn.stdpath('data') .. '/lazy/lazy.nvim'
if not vim.loop.fs_stat(lazypath) then
   vim.fn.system({
      'git',
      'clone',
      '--filter=blob:none',
      'https://github.com/folke/lazy.nvim.git',
      '--branch=stable',
      lazypath,
   })
end
-- add lazy.nvim to runtimepath first
vim.opt.rtp:prepend(lazypath)

-- map leader before any plugins define their mappings
vim.g.mapleader = ' '

require('lazy').setup({
   -- lazy.nvim resets the runtime path controlled with
   -- config.performance.rtp.reset
   'equalsraf/neovim-gui-shim',
   {
      'navarasu/onedark.nvim',
      config = function()
         require('onedark').load()
      end
   },
   'tpope/vim-surround',
   'tpope/vim-sleuth',
   'andymass/vim-matchup',
   {
      'lewis6991/gitsigns.nvim',
      opts = {
         on_attach = function(bufnr)
            local gs = package.loaded.gitsigns

            local function map(mode, l, r, opts)
               opts = opts or {}
               opts.buffer = bufnr
               vim.keymap.set(mode, l, r, opts)
            end

            -- navigation
            map('n', ']c', function()
               if vim.wo.diff then return ']c' end
               vim.schedule(function() gs.next_hunk() end)
               return '<Ignore>'
            end, { expr = true })

            map('n', '[c', function()
               if vim.wo.diff then return '[c' end
               vim.schedule(function() gs.prev_hunk() end)
               return '<Ignore>'
            end, { expr = true })

            -- actions
            map({ 'n', 'v' }, '<leader>hs', gs.stage_hunk)
            map({ 'n', 'v' }, '<leader>hr', gs.reset_hunk)
            map('n', '<leader>hS', gs.stage_buffer)
            map('n', '<leader>hu', gs.undo_stage_hunk)
            map('n', '<leader>hR', gs.reset_buffer)
            map('n', '<leader>hp', gs.preview_hunk)
            map('n', '<leader>hb', function() gs.blame_line { full = true } end)
            map('n', '<leader>tb', gs.toggle_current_line_blame)
            map('n', '<leader>hd', gs.diffthis)
            map('n', '<leader>hD', function() gs.diffthis('~') end)
            map('n', '<leader>td', gs.toggle_deleted)

            -- text object
            map({ 'o', 'x' }, 'ih', ':<C-U>Gitsigns select_hunk<CR>')
         end
      }
   },
   'rust-lang/rust.vim',
   'udalov/kotlin-vim',
   'keith/swift.vim',
   'ziglang/zig.vim',
   {
      'nvim-treesitter/nvim-treesitter',
      dependencies = {
         'nvim-treesitter/nvim-treesitter-textobjects',
      },
      main = 'nvim-treesitter.configs',
      build = ':TSUpdate',
      opts = {
         ensure_installed = {
            'bash',
            'c',
            'cpp',
            'css',
            'go',
            'html',
            'java',
            'javascript',
            'json',
            'kotlin',
            'lua',
            'make',
            'markdown',
            'markdown_inline',
            'org',
            'rust',
            'scala',
            'sql',
            'swift',
            'toml',
            'vimdoc',
            'yaml',
            'zig',
         },
         -- If TS highlights are not enabled at all, or disabled via `disable` prop, highlighting will fallback to default Vim syntax highlighting.
         highlight = {
            enable = true,
            disable = { 'org' },                           -- remove this to use TS highlighter for some of the highlights (Experimental)
            additional_vim_regex_highlighting = { 'org' }, -- required since TS highlighter doesn't support all syntax features (conceal)
         },
         incremental_selection = {
            enable = true,
            keymaps = {
               -- maps in normal mode to init the node/scope selection with space
               init_selection = ',',
               -- increment to the upper named parent
               node_incremental = ',',
               -- decrement to the previous node
               node_decremental = '<bs>',
               -- increment to the upper scope (as defined in locals.scm)
               scope_incremental = '<tab>',
            },
         },
         autopairs = { enable = true },
         indent = { enable = true }
      }
   },
   {
      'windwp/nvim-autopairs',
      event = 'InsertEnter',
      opts = {
         check_ts = true,
      }
   },
   {
      'nvim-orgmode/orgmode',
      config = function()
         local orgmode = require('orgmode')
         orgmode.setup_ts_grammar()
         orgmode.setup({
            org_agenda_files = { '~/notes/*.org' },
            org_default_notes_file = '~/notes/inbox.org',
         })
      end
   },
   {
      'VonHeikemen/lsp-zero.nvim',
      branch = 'v3.x',
      dependencies = {
         -- LSP Support
         { 'neovim/nvim-lspconfig' },
         { 'williamboman/mason.nvim', },
         { 'williamboman/mason-lspconfig.nvim' },

         -- autocompletion
         { 'hrsh7th/nvim-cmp' },
         { 'hrsh7th/cmp-nvim-lsp' },
         { 'L3MON4D3/LuaSnip' },
      },
      config = function()
         local lsp_zero = require('lsp-zero')
         lsp_zero.on_attach(function(_, bufnr)
            lsp_zero.default_keymaps({
               buffer = bufnr,
               -- lsp-zero thinks which-key already taken all the mappings
               preserve_mappings = false
            })

            -- buffer local mappings.
            local opts = { buffer = bufnr }

            vim.keymap.set('n', 'gd', "<cmd>lua vim.lsp.buf.definition()<CR>", opts)
            vim.keymap.set('n', '<leader>v', "<cmd>vsplit | lua vim.lsp.buf.definition()<CR>", opts)
            vim.keymap.set('n', '<leader>s', "<cmd>belowright split | lua vim.lsp.buf.definition()<CR>", opts)

            vim.keymap.set('n', 'gr', vim.lsp.buf.references, opts)
            vim.keymap.set('n', 'gD', vim.lsp.buf.declaration, opts)
            vim.keymap.set('n', 'K', vim.lsp.buf.hover, opts)
            vim.keymap.set('n', 'gi', vim.lsp.buf.implementation, opts)
            vim.keymap.set('n', '<leader>cl', vim.lsp.codelens.run, opts)
            vim.keymap.set('n', '<leader>rn', vim.lsp.buf.rename, opts)
            vim.keymap.set({ 'n', 'v' }, '<leader>ca', vim.lsp.buf.code_action, opts)
         end)
         lsp_zero.format_on_save({
            servers = {
               ['gopls'] = { 'go' },
               ['lua_ls'] = { 'lua' },
            }
         })

         require('mason').setup({})
         require('mason-lspconfig').setup({
            ensure_installed = {
               'bashls',
               -- clangd does not support arm64 {{- if ne .chezmoi.hostname "pi4" }}
               'clangd',
               -- {{- end }}
               'jdtls',
               'gopls',
               'lua_ls',
               'rust_analyzer',
               'zls',
            },
            handlers = {
               lsp_zero.default_setup,
               lua_ls = function()
                  local lua_opts = lsp_zero.nvim_lua_ls()
                  require('lspconfig').lua_ls.setup(lua_opts)
               end,
            }
         })

         local cmp = require('cmp')
         local luasnip = require('luasnip')
         cmp.setup({
            mapping = cmp.mapping.preset.insert({
               ['<C-y>'] = cmp.mapping.confirm({ select = true }),
               ['<CR>'] = cmp.mapping.confirm({ select = false }),
               -- Allow to jump over snippet placeholders with Tab, but also to use
               -- Tab normally when nor the completion nor a snippet is active.
               ['<Tab>'] = cmp.mapping(function(fallback)
                  if cmp.visible() then
                     cmp.select_next_item()
                  elseif luasnip.expand_or_locally_jumpable() then
                     luasnip.expand_or_jump()
                  else
                     fallback()
                  end
               end, { 'i', 's' }),
               ['<S-Tab>'] = cmp.mapping(function(fallback)
                  if cmp.visible() then
                     cmp.select_prev_item()
                  elseif luasnip.jumpable(-1) then
                     luasnip.jump(-1)
                  else
                     fallback()
                  end
               end, { 'i', 's' }),
            })
         })
      end
   },
   {
      'nvim-telescope/telescope.nvim',
      branch = '0.1.x',
      dependencies = { 'nvim-lua/plenary.nvim' }
   },
   {
      'epwalsh/obsidian.nvim',
      version = 'v2.x',
      dependencies = {
         {
            'preservim/vim-markdown',
            init = function()
               -- no default mapping will be added by the plugin if mapped to <Plug>
               vim.keymap.set({ 'n', 'v' }, '<Plug>', '<Plug>Markdown_EditUrlUnderCursor')
            end
         },
         'hrsh7th/nvim-cmp'
      },
      opts = {
         dir = '~/notes',
         daily_notes = {
            folder = 'journals'
         },
         note_id_func = function(title)
            return title
         end,
         disable_frontmatter = true
      },
      init = function()
         vim.keymap.set('n', 'gf', function()
               if require('obsidian').util.cursor_on_markdown_link() then
                  return '<cmd>ObsidianFollowLink<CR>'
               else
                  return 'gf'
               end
            end,
            { noremap = false, expr = true })
      end
   },
   'christoomey/vim-tmux-navigator',
   'ThePrimeagen/harpoon',
   'mbbill/undotree',
   'tpope/vim-fugitive',
   'ypcrts/securemodelines',
   'tpope/vim-rsi',
   {
      'nvimdev/dashboard-nvim',
      event = 'VimEnter',
      opts = function()
         local opts = {
            theme = 'doom',
            config = {
               week_header = {
                  enable = true
               },
               center = {
                  { action = 'Telescope find_files', desc = ' Find file', icon = ' ', key = 'f' },
                  { action = 'ene | startinsert', desc = ' New file', icon = ' ', key = 'n' },
                  { action = 'Telescope oldfiles', desc = ' Recent files', icon = ' ', key = 'r' },
                  { action = 'Telescope live_grep', desc = ' Find text', icon = ' ', key = 'g' },
                  { action = 'edit ~/.config/nvim/init.lua', desc = ' Config', icon = ' ', key = 'c' },
                  { action = 'lua require("persistence").load()', desc = ' Load Session', icon = ' ', key = 's' },
                  { action = 'lua require("persistence").load({last = true})', desc = ' Last Session', icon = '▶︎ ', key = 'l' },
                  { action = 'qa', desc = ' Quit', icon = ' ', key = 'q' },
               },
            }
         }

         -- close Lazy and re-open when the dashboard is ready
         if vim.o.filetype == "lazy" then
            vim.cmd.close()
            vim.api.nvim_create_autocmd("User", {
               pattern = "DashboardLoaded",
               callback = function()
                  require("lazy").show()
               end,
            })
         end

         return opts
      end,
      dependencies = { { 'nvim-tree/nvim-web-devicons' } }
   },
   {
      'folke/persistence.nvim',
      -- only start session saving when an actual file was opened
      event = 'BufReadPre',
      config = function()
         require('persistence').setup({})
         vim.api.nvim_create_user_command('Load', function()
            require('persistence').load()
         end, { nargs = 0 })
         vim.api.nvim_create_user_command('Last', function()
            require('persistence').load({ last = true })
         end, { nargs = 0 })
      end
   },
   {
      'folke/which-key.nvim',
      opts = {}
   },
   {
      'numToStr/Comment.nvim',
      -- todo: map Ctrl-/ (<C-_>) for line comments
      opts = {},
      lazy = false,
   },
   { 'raindev/daybreak.nvim', config = true }
}, {
   dev = {
      path = '~/code',
      patterns = { 'raindev' },
      fallback = true,
   },
})

-------------
-- options --
-------------

-- enable true color support
vim.opt.termguicolors = true

-- render tabs as 8 spaces
vim.opt.tabstop = 8
-- insert 4 spaces for a tab
vim.opt.softtabstop = 4
-- insert 4 spaces for an indent
vim.opt.shiftwidth = 4
-- replace each 8 spaces by a tab
vim.opt.expandtab = false

-- use space as vertical split character
vim.opt.fillchars:append('vert: ')
-- show trailing characters, tabs and non-breakable spaces
vim.opt.list = true
vim.opt.listchars:append('tab:▸ ')
vim.opt.listchars:append('trail:·')
vim.opt.listchars:append('nbsp:⍽')
-- show when line continues outside of screen
vim.opt.listchars:append('extends:»')
vim.opt.listchars:append('precedes:«')
-- indent wrapped lines
vim.opt.breakindent = true
-- show marker for wrapped lines
vim.opt.showbreak = '↳ '
-- before indented text
vim.opt.breakindentopt = 'sbr'
-- in the number column
vim.opt.cpoptions:append('n')
-- conceal syntax (e.g. Markdown), but not completely (highlight code block marks)
vim.opt.conceallevel = 1
-- display line numbers
vim.opt.number = true
-- highlight the line number for the current line
vim.opt.cursorline = true
vim.opt.cursorlineopt = 'number'
-- always display the line info column to avoid jumping
vim.opt.signcolumn = 'yes'
-- open folds by default
vim.opt.foldlevelstart = 99

-- do not highlight search results by default
vim.opt.hlsearch = false
-- autocomplete to the longest commons string and than cycle through the
-- alternatives
vim.opt.wildmode = 'longest:full,full'

-- keep backup if file is overwritten
vim.opt.backup = true
-- create backupdir if doens't exist
local backup_dir = vim.env.HOME .. '/.cache/nvim/backup'
if vim.fn.isdirectory(backup_dir) ~= 1 then
   vim.fn.mkdir(backup_dir)
end
-- save all backups in one place rather than in .
vim.opt.backupdir = backup_dir
-- persist undo history
vim.opt.undofile = true

------------
-- keymap --
------------

-- Empty string is an equivalent of :map, which applies to
-- normal, visual, select and operator-pending mode.

-- toggle highlights
vim.keymap.set('', '<leader>th', '<cmd>set hlsearch!<CR>', { desc = '[T]oggle [S]earch highlighting' })
vim.keymap.set('', '<leader>ts', '<cmd>set spell!<CR>', { desc = '[T]oggle [S]pellchecking' })

-- save the pinky
vim.keymap.set('', '<leader>;', ':', { desc = 'Normal mode without shift' })

-- window splits
vim.keymap.set('', '<leader>-', vim.cmd.split, { desc = 'Split window horizontally' })
-- todo: consider a more ergonomic map
vim.keymap.set('', '<leader>\\', vim.cmd.vsplit, { desc = 'Split window vertically' })

-- system clipboard interactions
vim.keymap.set({ 'n', 'v' }, '<leader>y', [["+y]], { desc = '[Y]ank into clipboard' })
vim.keymap.set('n', '<leader>Y', [["+y$]], { desc = '[Y]ank tail of line into clipboard' })
vim.keymap.set({ 'n', 'v' }, '<leader>p', [["+p]], { desc = '[P]aste from clipboard' })
vim.keymap.set('n', '<leader>P', [["+P]], { desc = '[P]aste from clipboard before cursor' })

-- quickfix list navigation
vim.keymap.set('n', ']q', ':cnext<CR>', { desc = 'Next quickfix item' })
vim.keymap.set('n', '[q', ':cprev<CR>', { desc = 'Previous quickfix item' })

local telescope = require('telescope.builtin')
vim.keymap.set('n', '<leader>F', vim.cmd.Telescope, { desc = '[F]ind stuff' })
vim.keymap.set('n', '<leader>f<space>', telescope.resume, { desc = 'Resume [F]ind' })
vim.keymap.set('n', '<leader>ff', telescope.find_files, { desc = '[F]ind [F]iles' })
vim.keymap.set('n', '<leader>fg', telescope.live_grep, { desc = '[F]ind with [G]rep' })
vim.keymap.set('n', '<leader>fs', telescope.grep_string, { desc = '[F]ind [S]tring' })
vim.keymap.set('n', '<leader>fk', telescope.keymaps, { desc = '[F]ind [K]ey mapping' })
vim.keymap.set('n', '<leader>fo', telescope.oldfiles, { desc = '[F]ind [O]ld files' })
vim.keymap.set('n', '<leader>fh', telescope.help_tags, { desc = '[F]ind [H]elp' })

local harpoon_mark = require('harpoon.mark')
local harpoon_ui = require('harpoon.ui')
vim.keymap.set('', '<leader>A', harpoon_mark.add_file, { desc = '[A]dd to Harpoon file list' })
vim.keymap.set('', '<leader>H', harpoon_ui.toggle_quick_menu, { desc = 'Toggle Harpoon file selector' })
for i = 1, 5 do
   vim.keymap.set('', '<leader>' .. i, function() harpoon_ui.nav_file(i) end, { desc = 'Switch to Harpoon file ' .. i })
end

vim.keymap.set('', '<leader>U', vim.cmd.UndotreeToggle, { desc = 'Toggle [U] undo tree' })
vim.keymap.set('', '<leader>w', '<cmd>:write<cr>', { desc = '[W]rite current buffer' })
vim.keymap.set('', '<leader>q', '<cmd>:confirm quitall<cr>', { desc = '[Q]uit with confirmation' })

------------------
-- autocommands --
------------------

local augroup = vim.api.nvim_create_augroup('init', {})
vim.api.nvim_create_autocmd({ 'BufWritePre' }, {
   group = augroup,
   pattern = '*',
   command = [[%s/\s\+$//e]],
})

---------------
-- filetypes --
---------------

vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'gitcommit' },
   callback = function()
      vim.opt_local.spell = true
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'go' },
   callback = function()
      vim.opt_local.expandtab = false
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'html' },
   callback = function()
      vim.opt_local.expandtab = true
      vim.opt_local.softtabstop = 2
      vim.opt_local.shiftwidth = 2
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'java' },
   callback = function()
      vim.opt_local.expandtab = true
      vim.opt_local.softtabstop = 4
      vim.opt_local.shiftwidth = 4
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'kotlin' },
   callback = function()
      vim.opt_local.expandtab = true
      vim.opt_local.softtabstop = 2
      vim.opt_local.shiftwidth = 2
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'lua' },
   callback = function()
      vim.opt_local.expandtab = true
      vim.opt_local.softtabstop = 3
      vim.opt_local.shiftwidth = 3
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'markdown' },
   callback = function()
      vim.opt_local.linebreak = true
      vim.opt_local.number = false
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'org' },
   callback = function()
      vim.opt_local.linebreak = true
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'sh' },
   callback = function()
      vim.opt_local.expandtab = true
      vim.opt_local.softtabstop = 4
      vim.opt_local.shiftwidth = 4
   end
})
vim.api.nvim_create_autocmd({ 'FileType' }, {
   group = augroup,
   pattern = { 'swift' },
   callback = function()
      vim.opt_local.expandtab = true
      vim.opt_local.softtabstop = 2
      vim.opt_local.shiftwidth = 2
   end
})

------------------
-- local config --
------------------

local local_init = vim.env.HOME .. '/.config/nvim/init.local.lua'
if vim.fn.filereadable(local_init) ~= 0 then
   dofile(local_init)
end

-- vim: ft=lua
